content/schemas/battery.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:annotation>
    <xsd:documentation xml:lang='en'>
      <![CDATA[Description of a battery.]]>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:include schemaLocation='http://sdformat.org/schemas/types.xsd'/>
  <xsd:element name='battery'>
    <xsd:complexType>
      <xsd:choice maxOccurs='unbounded'>
        <xsd:choice  minOccurs='1' maxOccurs='1'>
        <xsd:element name='voltage' type='xsd:double'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[Initial voltage in volts.]]>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='1' maxOccurs='1'>
        <xsd:element name='initial_power_load' type='xsd:double'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[Initial power load in watts.]]>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        </xsd:choice>
      </xsd:choice>
      <xsd:attribute name='name' type='xsd:string' use='required' >
        <xsd:annotation>
          <xsd:documentation xml:lang='en'>
            <![CDATA[Unique name for the battery.]]>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
