content/schemas/spherical_coordinates.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:include schemaLocation='http://sdformat.org/schemas/types.xsd'/>
  <xsd:element name='spherical_coordinates'>
    <xsd:complexType>
      <xsd:choice maxOccurs='unbounded'>
        <xsd:choice  minOccurs='1' maxOccurs='1'>
        <xsd:element name='surface_model' type='xsd:string'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[
      Name of planetary surface model, used to determine the surface altitude
      at a given latitude and longitude. The default is an ellipsoid model of
      the earth based on the WGS-84 standard. It is used in Gazebo's GPS sensor
      implementation.
    ]]>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='1' maxOccurs='1'>
        <xsd:element name='latitude_deg' type='xsd:double'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[
      Geodetic latitude at origin of gazebo reference frame, specified
      in units of degrees.
    ]]>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='1' maxOccurs='1'>
        <xsd:element name='longitude_deg' type='xsd:double'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[
      Longitude at origin of gazebo reference frame, specified in units
      of degrees.
    ]]>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='1' maxOccurs='1'>
        <xsd:element name='elevation' type='xsd:double'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[
      Elevation of origin of gazebo reference frame, specified in meters.
    ]]>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='1' maxOccurs='1'>
        <xsd:element name='heading_deg' type='xsd:double'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[
      Heading offset of gazebo reference frame, measured as angle between
      East and gazebo x axis, or equivalently, the angle between North and
      gazebo y axis. The angle is specified in degrees.
    ]]>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        </xsd:choice>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
